@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: bumblebee --default;
  root: ".dui";
}

@font-face {
  font-family: "Curlz Mt";
  src: url("/fonts/curlzmt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Lexend Variable - Latin only */
@font-face {
  font-family: 'Lexend Variable';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/lexend-latin-wght-normal.woff2') format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Lexend Exa Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('/fonts/lexend-exa-latin-wght-normal.woff2') format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* lexend-giga-latin-wght-normal */
@font-face {
  font-family: 'Lexend Giga Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('/fonts/lexend-giga-latin-wght-normal.woff2') format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@theme {
  --font-sans: "Lexend Variable", "sans-serif";
  --font-primary: "Lexend Giga Variable", "sans-serif";
  --font-secondary: "Lexend Exa Variable", "sans-serif";
  --font-okidoki: "Curlz Mt", "sans-serif";
  --color-primary-500: #ff4500;
  --color-secondary-500: #3d1600;
  --color-action-500: #ffcc00;
  --color-gray-okidoki: #b9b9b9;
  --color-black-okidoki: #1e1e1e;
  --gradient-primary: linear-gradient(90deg, #ff4500, #ff7e00);
  --gradient-secondary: linear-gradient(90deg, #af2f00, #852300);
}
/* 
:root {
  --swiper-theme-color: orange;
} */


@layer base {
  body {
    @apply font-light;
    font-family: var(--font-sans);
  }
}

html {
  scroll-behavior: smooth;
}
