/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "Curlz Mt";
  src: url("/fonts/curlzmt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-sans: "Lexend Variable", "sans-serif";
  --font-primary: "Lexend Giga Variable", "sans-serif";
  --font-secondary: "Lexend Exa Variable", "sans-serif";
  --font-okidoki: "Curlz Mt", "sans-serif";
  --color-primary-500: #ff4500;
  --color-secondary-500: #3d1600;
  --color-action-500: #ffcc00;
  --color-gray-okidoki: #b9b9b9;
  --color-black-okidoki: #1e1e1e;
  --gradient-primary: linear-gradient(90deg, #ff4500, #ff7e00);
  --gradient-secondary: linear-gradient(90deg, #af2f00, #852300);
}

@layer base {
  body {
    @apply font-light;
  }
}

html {
  scroll-behavior: smooth;
}