---
// components/Footer.astro
import { Icon } from "astro-icon/components";
---

<footer
  class="bg-secondary-500 text-gray-okidoki font-primary px-2 py-10 text-xs font-light sm:px-5 sm:text-sm md:px-10"
>
  <div
    class="mx-auto grid items-center gap-5 lg:grid-cols-3 lg:grid-rows-[auto_1fr]"
  >
    <div class="items-center gap-2 text-center">
      <div class="font-okidoki text-5xl">oKiDoki</div>
      <span class="flex items-center justify-center gap-2">
        <Icon name="mdi:phone" />
        <p>(506) 8831-3232</p>
      </span>
    </div>
  </div>
</footer>
