---
import '../styles/global.css';
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import Button from '../components/Button.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---
<MainLayout title="OkiDoki Producciones">
	<body>
			<main class="container mx-auto">
				<div class="grid place-items-center h-screen content-center">
					<Button>Tailwind Button in Astro!</Button>
					<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
				</div>
			</main>
	</body>
</MainLayout>
