---
import "../styles/global.css";
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<MainLayout title="Nosotros">
  <body>
    <main class="container mx-auto">
      <div class="grid h-screen place-items-center content-center">
        <h1 class="text-center text-4xl font-bold text-gray-800">
          Nuestra Historia
        </h1>
        <p class="text-center text-gray-600">
          ¡Bienvenido a OkiDoki Producciones!
        </p>
      </div>
    </main>
  </body>
</MainLayout>
