---
// Click button, get confetti!
// Styled by Tailwind :)
import { Icon } from "astro-icon/components";

const { icon } = Astro.props;
---

<button
  class="inline-flex w-full cursor-pointer items-center justify-center gap-2 rounded-2xl py-4 drop-shadow-2xl md:py-5 lg:py-6"
>
  <div
    class="font-secondary text-center text-[3vw] font-bold text-white uppercase md:text-[1.5vw] lg:text-[1.3vw]"
  >
    <slot />
  </div>
  {icon && <Icon name={icon} width="30" height="30" class="text-white" />}
</button>

<style>
  button {
    background: var(--gradient-primary);
  }

  button:hover {
    background: var(--gradient-secondary);
  }
</style>

<script>
  import confetti from "canvas-confetti";
  const button = document.body.querySelector("button");

  if (button) {
    button.addEventListener("click", () => confetti());
  }
</script>
