---
import Navigation from '../components/Navigation.astro';
import Logo from '../images/logo.svg';
import Logo2 from '../images/logo2.svg';

// Astro Components
import { Icon } from 'astro-icon/components';
import Image from 'astro/components/Image.astro';
---

<header class="container w-full px-5 mx-auto flex items-center justify-between">
  <a href="/" class="z-20"> <!--hover:scale-110 transition-transform -->
    <div class="group w-40 h-40 hover:scale-110 transition-transform duration-350 ease-in-out relative">
      <!-- First Logo with fade-out on hover -->
      <div class="absolute inset-0 flex items-center justify-center transition-opacity duration-350 ease-in-out group-hover:opacity-0">
        <Image src={Logo} alt="OkiDoki Producciones Rana Logo" class="w-full h-full" />
      </div>
      
      <!-- Second Logo with fade-in on hover -->
      <div class="absolute inset-0 flex items-center justify-center transition-opacity duration-350 ease-in-out opacity-0 group-hover:opacity-100">
        <Image src={Logo2} alt="OkiDoki Producciones Logo" class="w-full h-full" /> 
      </div>
    </div>
  </a>
  <button class="z-20 lg:hidden text-secondary-500 hover:text-orange-600 cursor-pointer" id="menu-button" aria-controls="mobile-menu" aria-expanded="false">
    <Icon name="mdi:menu" id="burger-btn-open" size="45" />
    <Icon class="hidden" id="burger-btn-close" name="mdi:close" size="45"/>
    <span class="sr-only">Abrir menu principal</span>
  </button>

  <nav id="menu" class="hidden lg:flex text-secondary-500 font-semibold gap-5">
    <Navigation />
  </nav>

  <nav id="mobile-menu" class="px-5 absolute top-0 left-0 w-full h-fit z-10 bg-white p-2 text-orange-950 font-semibold lg:hidden hidden">
    <div class="flex flex-col mt-40 gap-10">  
        <Navigation />
      <div class="bg-orange-950 w-full h-0.5"></div>
    </div>
  </nav>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuButton = document.getElementById('menu-button');
    const mobileMenu = document.getElementById('mobile-menu');
    const openBtn = document.getElementById('burger-btn-open');
    const closeBtn = document.getElementById('burger-btn-close');

    menuButton?.addEventListener('click', () => {
      const isExpanded = menuButton?.getAttribute('aria-expanded') === 'true';
      menuButton?.setAttribute('aria-expanded', !isExpanded);
      mobileMenu?.classList.toggle('hidden');
      openBtn?.classList.toggle('hidden');
      closeBtn?.classList.toggle('hidden');
    });
  });
</script>