---
const links = [
  { href: '/', text: 'Inicio' },
  { href: '/nosotros', text: 'Nosotros' },
  { href: '/aniversario', text: '30 aniversario' },
  { href: '/servicios', text: 'Servicios' },
  { href: '/testimonios', text: 'Testimonios' },
  { href: '/galeria', text: 'Galería de personajes' },
  { href: '/contacto', text: 'Contacto' },
]
---
{
  //loop
  links.map((link) => (
    <a href={link.href}>{link.text}</a>
  ))
}