---
const links = [
  { href: "/", text: "Inicio" },
  { href: "/#servicios", text: "Servicios" },
  { href: "/#testimonios", text: "Testimonios" },
];
---

{
  //loop
  links.map((link) => (
    <a
      class="hover:text-primary-500 transition-transform hover:scale-105"
      href={link.href}
    >
      {link.text}
    </a>
  ))
}
