---
import Image from "astro/components/Image.astro";
import { Icon } from "astro-icon/components";

const { image, title, icon } = Astro.props;
---

<div
  data-aos="zoom-in"
  data-aos-offset="200"
  class="group relative min-w-0 overflow-hidden rounded-lg bg-white shadow-lg"
>
  <div class="relative">
    <Image
      src={image}
      alt="Placeholder"
      class="h-60 w-full object-cover object-[25%_30%]"
      loading="lazy"
    />
    <div
      class="absolute inset-0 bg-black opacity-0 transition-opacity duration-300 group-hover:opacity-60"
    >
    </div>
    <div
      class="absolute inset-0 flex items-center justify-center px-6 opacity-0 transition-opacity duration-300 group-hover:opacity-100"
    >
      <p class="text-lg text-white">
        <slot name="hover-description">Descubre más sobre este servicio</slot>
      </p>
    </div>
  </div>
  <div class="relative p-6 text-center md:text-left">
    <Icon
      name={icon}
      class="text-secondary-500 relative z-10 mx-auto h-15 w-15 md:mx-0"
    />
    <h2
      class="font-primary text-primary-500 relative z-10 mb-2 text-3xl font-bold transition-colors duration-300 group-hover:text-white"
    >
      {title}
    </h2>
    <p
      class="text-black-okidoki relative z-10 transition-colors duration-300 group-hover:text-white"
    >
      <slot />
    </p>

    <div
      class="absolute inset-0 bg-black opacity-0 transition-opacity duration-300 group-hover:opacity-60"
    >
    </div>
  </div>
</div>
