---
const {
  publicId,
  profile = "testimonios",
  className = "",
  orientation = "horizontal"
} = Astro.props;

const playerUrl = new URL("https://player.cloudinary.com/embed/");
const cloudName = import.meta.env.PUBLIC_CLOUDINARY_CLOUD_NAME;

const searchParams = new URLSearchParams({
  public_id: publicId,
  cloud_name: cloudName,
  profile: profile
});
const fullUrl = `${playerUrl}?${searchParams.toString()}`;
---

<div class="relative w-full h-0" style={`padding-bottom: ${orientation === 'vertical' ? '177.78%' : '56.25%'};`}>
  <iframe
    src={fullUrl}
    class="absolute top-0 left-0 w-full h-full"
    allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
    allowfullscreen
    frameborder="0"
  >
  </iframe>
</div>