---
import BaseLayout from "./BaseLayout.astro";
import Header from "@components/landing/layout/Header.astro";
import Footer from "@components/landing/layout/Footer.astro";
import WhatsappStickyButton from "@components/landing/sections/WhatsappStickyButton.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  bodyClass="bg-gradient-to-tl from-indigo-200 via-red-200 to-yellow-100 bg-fixed bg-no-repeat"
>
  <div class="grid min-h-[100dvh] w-full max-w-full grid-rows-[auto_1fr_auto]">
    <WhatsappStickyButton />
    <Header />
    <main class="relative grid overflow-x-hidden">
      <slot />
    </main>
    <Footer />
  </div>
</BaseLayout>
