---
import Button from "@components/shared/Button.astro";
import "@styles/global.css";
import Image from "astro/components/Image.astro";
---

<html lang="es" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Inicio de Sesión</title>
    <meta name="title" content="OkiDoki Costa Rica - Login" />
    <meta name="description" content="Inicio de Sesión de OkiDoki CR" />
    <link
      rel="preload"
      href="/fonts/lexend-latin-wght-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/lexend-exa-latin-wght-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/lexend-giga-latin-wght-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/curlzmt.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />

    <!-- <ViewTransitions /> -->
  </head>
  <body class="dui">
    <div class="relative grid min-h-[100vh] place-items-center px-3">
      <!-- Capa de imagen de fondo -->
      <div class="absolute inset-0 z-0 opacity-40">
        <img
          src="src/images/login-bg.jpg"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>

      <!-- Contenido del login (encima de las capas) -->
      <div
        class="relative z-20 w-full max-w-lg rounded-xl bg-white px-3 py-5 shadow-lg sm:py-10 md:px-5 lg:px-10"
      >
        <div class="flex items-center justify-center">
          <div
            class="tooltip tooltip-success"
            data-tip="Volver a la página principal"
          >
            <a href="/" class="flex items-center justify-center">
              <img
                src="/images/logo2.svg"
                alt="OkiDoki Producciones Rana Logo"
                loading="eager"
                class="w-50 transition-transform duration-300 hover:scale-105"
              />
            </a>
          </div>
        </div>
        <h3 class="mt-4 text-center text-3xl font-bold">Inicio de Sesión</h3>
        <form id="login-form" class="mt-6 grid gap-4">
          <div class="relative">
            <span
              class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="text-gray-400"
              >
                <path
                  fill="currentColor"
                  d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"
                ></path>
              </svg>
            </span>
            <input
              type="text"
              name="user"
              placeholder="Usuario"
              required
              class="text-black-okidoki focus:border-primary-500 focus:ring-primary-500 w-full rounded-3xl bg-gray-300 py-3 pr-4 pl-12 text-lg shadow-2xl transition-all duration-300 hover:bg-gray-100 focus:bg-gray-50 focus:ring-3 focus:outline-none"
            />
          </div>

          <div class="relative">
            <span
              class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="text-gray-400"
              >
                <path
                  fill="currentColor"
                  d="M12 17a2 2 0 0 0 2-2a2 2 0 0 0-2-2a2 2 0 0 0-2 2a2 2 0 0 0 2 2m6-9a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V10a2 2 0 0 1 2-2h1V6a5 5 0 0 1 5-5a5 5 0 0 1 5 5v2zm-6-5a3 3 0 0 0-3 3v2h6V6a3 3 0 0 0-3-3"
                ></path>
              </svg>
            </span>
            <input
              type="password"
              name="password"
              placeholder="Contraseña"
              required
              class="text-black-okidoki focus:border-primary-500 focus:ring-primary-500 w-full rounded-3xl bg-gray-300 py-3 pr-4 pl-12 text-lg shadow-2xl transition-all duration-300 hover:bg-gray-100 focus:bg-gray-50 focus:ring-3 focus:outline-none"
            />
          </div>
          <div class="pt-6">
            <Button action="submit" class="w-full">Iniciar sesión</Button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>

<script>
  const apiUrl = import.meta.env.PUBLIC_API_URL;
  document
    .getElementById("login-form")
    .addEventListener("submit", async (e) => {
      const user = e.target.user.value;
      const password = e.target.password.value;

      e.preventDefault();
      const formData = new FormData(e.target);
      const res = await fetch(`${apiUrl}/auth/login`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ user, password }),
      });
      if (res.ok) {
        const { token } = await res.json();
        localStorage.setItem("token", token);
        window.location.href = "/admin"; // Si hay varios roles luego, cambiar esto
      } else if (res.status === 401) {
        alert("Usuario o contraseña incorrectos");
      } else if (res.status === 403) {
        alert("No tienes permisos para acceder a esta sección");
      } else if (res.status === 500) {
        alert("Error interno del servidor");
      } else {
        alert("Error desconocido");
      }
    });
</script>
